* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.profile-image {
    float: right;
    padding-inline-start: 3rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #72B244;
    background-color: #ddecd2;
}

.multi-column {
    columns: 2; 
}