.header {
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #72B244;
    background-color: #ddecd2;
}

.text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    columns: 2;
}

.images {
    --gap: 20px;
    columns: auto;
    padding: var(--gap);
}

@media screen and (max-width: 1040px) {
    .images {
        columns: 2;
    }
} 

@media screen and (max-width: 600px) {
    .text {
        columns: 1;
    }
} 

.footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 30px;
    color: #72B244;
    background-color: #ddecd2;
}